<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Asora">
        <meta name="description" content="Somos una agencia con 20 años de experiencia especializada en la renta, producción y venta de anuncios espectaculares establecida en la ciudad de Querétaro.">
        <title>GARO Medios Publicitarios</title>
        <meta property="og:type" content="website">
        <meta property="og:title" content="GARO Medios Publicitarios">
        <meta property="og:image" content="https://garoqro.com/static/images/social.png">
        <meta property="og:url" content="https://garoqro.com/">
        <meta property="og:description" content="Somos una agencia con 20 años de experiencia especializada en la renta, producción y venta de anuncios espectaculares establecida en la ciudad de Querétaro.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="GARO Medios Publicitarios">
        <meta name="twitter:description" content="Somos una agencia con 20 años de experiencia especializada en la renta, producción y venta de anuncios espectaculares establecida en la ciudad de Querétaro.">
        <meta name="twitter:image" content="https://garoqro.com/static/images/social.png">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/full-slider.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/reset.css" rel="stylesheet">
        <link href="/static/css/full-slider.css" rel="stylesheet">
        <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/unslider.css">
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="root" ng-app="GARO">
        <a class="btn btn-dark btn-lg toggle" id="menu-toggle" href="#"><i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a class="btn btn-light btn-lg pull-right toggle" id="menu-close" href="#"><i class="fa fa-times"></i></a>
                <li class="sidebar-brand"><a class="close-menu" href="#top">
                    <img src="/static/images/Garo%20logotipo.svg" width="40%"></a>
                </li>
                <li><a class="close-menu marg" href="#about">Somos</a></li>
                <li><a class="close-menu" href="#espectaculares">Espectaculares</a></li>
                <li><a class="close-menu" href="#services">Servicios</a></li>
                <li><a class="close-menu" href="#clients">Clientes</a></li>
                <li><a class="close-menu" href="#contact">Contacto</a></li>
            </ul>
        </nav>
        <header class="hero-shot" id="top">
            <div class="video-responsive hidden-sm hidden-xs">
                <video loop autoplay>
                    <source src="/static/media/Secuencia%2002.mp4" type="video/mp4">
                </video>
            </div>
            <section class="container-fluid no-padding" style="display: flex;">
                <div class="flex-center"><img class="logoresponsivegaro enfrente" src="/static/images/Garo%20logotipo.svg"></div>
            </section>
        </header>
        <section class="about bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>20 años conquistando las calles</h2><br>
                        <hr class="small">
                        <p class="lead">Somos una agencia con 20 años de experiencia especializada en la renta, producción y
                            venta de anuncios espectaculares establecida en la ciudad de Querétaro. En Garo te ayudamos a
                            incrementar la exposición de tu marca, conquistando
                            los mejores espacios de la ciudad y posicionándote en canales digitales, a través del desarrollo de
                            contenidos especializados.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about" id="espectaculares">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center">Anuncios espectaculares &ndash; el amor a múltiples vistas</h2>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <p class="lead">La publicidad exterior es el medio ideal para comunicar tus mensajes entre el
                                    movimiento constante de la ciudad. Contamos con anuncios espectaculares ubicados en las
                                    vialidades principales del estado de Querétaro y en otras
                                    zonas privilegiadas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12"><br>
                    <div class="row text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-4">
                                <article class="service-item"><span class="fa-stack fa-4x">
                                    <img src="/static/images/AAA.png" width="100%"></span><br><br>
                                    <p>Son aquellos anuncios ubicados en las vialidades principales y más transitadas de la ciudad, donde hay plazas y zonas comerciales.</p>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="service-item"><span class="fa-stack fa-4x">
                                    <img src="/static/images/AA.png" width="100%"></span><br><br>
                                    <p>Son los anuncios colocados en vías secundarias.</p>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="service-item"><span class="fa-stack fa-4x">
                                    <img src="/static/images/A.png" width="100%"></span><br><br>
                                    <p>Son los anuncios colocados en las afueras de la ciudad.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <section id="filt">
                <div class="row">
                    <div class="col-md-12">
                        <main class="cd-main-content">
                            <div class="cd-tab-filter-wrapper">
                                <div class="cd-tab-filter">
                                    <ul class="cd-filters">
                                        <li class="placeholder"><a data-type="all" href="#0">Todos</a>
                                            <!-- selected option on mobile-->
                                        </li>
                                        <li class="filter"><a class="selected" href="#0" data-type="all">Todos</a></li>
                                        <li class="filter" data-filter=".category-aaa"><a class="verd" href="#0" data-type="color-3">AAA</a></li>
                                        <li class="filter" data-filter=".category-aa"><a class="morad" href="#0" data-type="color-2">AA</a></li>
                                        <li class="filter" data-filter=".category-a"><a class="amaril" href="#0" data-type="color-1">A</a></li>
                                    </ul>
                                </div>
                            </div>
                            <section class="cd-gallery">
                                <ul>
                                    {% for ad in ads %}<a class="item" href="#portfolioModal{{ forloop.counter }}" data-toggle="modal">
                                        <li class="mix {{ ad.category }}">
                                            <img src="{{ ad.thumbnail }}" alt="{{ ad.title }}">
                                            <div class="overlay-{{ ad.category }}"></div>
                                        </li>
                                    </a>{% endfor %}
                                    <li class="gap"></li>
                                    <li class="gap"></li>
                                    <li class="gap"></li>
                                </ul>
                                <div class="row"></div>
                                <div class="cd-fail-message">Sin resultados</div>
                            </section>
                        </main>
                    </div>
                </div>
            </section>
        </section>
        <section class="services bg-secondary" id="services">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Vendemos el ABC de los anuncios espectaculares</h2>
                    <hr class="small">
                    <div class="row" id="serviciostodos">
                        <div class="col-md-4">
                            <div class="service-item">
                                <h2>A</h2>
                                <br>
                                <span class="fa-stack fa-4x"><a href="#filt"><img src="/static/images/anuncio.png" width="100%"></a></span>
                                <br>
                                <h4 class="marg"> Renta de espacios publicitarios</h4><br>
                                <p class="text-center"><strong>Tip de contratación: El periodo mínimo de efectividad por contratación recomendado por Garo medios publicitarios es de 3 meses.</strong></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <h2>B</h2>
                                <br>
                                <span class="fa-stack fa-4x"><a href="#services" onclick="toggler('construccion');"><img src="/static/images/construccion.png" width="100%"></a></span>
                                <br>
                                <h4 class="marg"> Fabricación de estructuras</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <h2>C</h2>
                                <br>
                                <span class="fa-stack fa-4x"><a href="#services" onclick="toggler2('impresion');"><img src="/static/images/impresora.png" width="100%"></a></span>
                                <br>
                                <h4 class="marg"> Producción, impresión y colocación de artes</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden" id="construccion">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="service-item">
                                    <h2>B</h2>
                                    <br>
                                    <span class="fa-stack fa-4x"><a href="#services" onclick="togglerback('serviciostodos');"><img src="/static/images/construccion.png" width="100%"></a></span>
                                    <br>
                                    <h4 class="marg"> Fabricación de estructuras</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><img src="/static/images/Foto%201.png" width="100%"></div>
                            <div class="col-md-4"><img src="/static/images/Foto%202.png" width="100%"></div>
                            <div class="col-md-4"><img src="/static/images/Foto%204.png" width="100%"></div>
                        </div>
                    </div>
                    <div class="row hidden" id="impresion">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="service-item">
                                    <h2>C</h2>
                                    <br>
                                    <span class="fa-stack fa-4x"><a href="#services" onclick="togglerback('serviciostodos');"><img src="/static/images/impresora.png" width="100%"></a></span>
                                    <br>
                                    <h4 class="marg"> Producción, impresión y colocación de artes</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4"><img src="/static/images/Impresion.png" width="100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio" id="mapa1">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2>Nuestros espectaculares</h2><br></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="map" style="width: 100%; height: 400px; position: relative; overflow: hidden;"></div>
                                <template id="marker">
                                    <div class="marker" style="cursor: pointer; background-image: url('/static/images/spectacular.png'); width: 28px; height: 28px;"></div>
                                </template>
                            </div>
                        </div>
                        <br><br></div>
                </div>
            </div>
        </section>
        <section class="mapa bg-third" id="clients" style="padding: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2>Nuestros clientes</h2>
                        <hr class="small">
                        <div class="my-slider">
                            <ul>
                                <li>
                                    <div class="col-md-4"><img src="/static/images/logos/Bacardi.svg" width="60%"></div>
                                    <div class="col-md-4"><img src="/static/images/logos/Holiday_Inn.svg" width="60%"></div>
                                    <div class="col-md-4"><img src="/static/images/logos/itesmnew%20%5BConverted%5D.svg" width="60%"></div>
                                </li>
                                <li>
                                    <div class="col-md-4"><img src="/static/images/logos/Logo_Hampton_Inn_-by_Hilton-%20%5BConverted%5D.svg" width="60%"></div>
                                    <div class="col-md-4"><img src="/static/images/logos/palacio.svg" width="60%"></div>
                                    <div class="col-md-4"><img src="/static/images/logos/peugeot_logo_2013.svg" width="60%">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-4"><img src="/static/images/logos/liverpool_logo.svg" width="60%"></div>
                                    <div class="col-md-4"><img src="/static/images/logos/Logo_CAISA-2.png" width="60%"></div>
                                    <div class="col-md-4"><img src="/static/images/logos/Subway.svg" width="60%"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services" id="contact">
            <div class="content-section-a">
                <div class="container">
                    <div class="row" ng-controller="ContactController as contact">
                        <div class="col-md-6 col-md-offset-3 text-center wrap_title margencontacto">
                            <h2>Contacto</h2>
                        </div>
                        <div class="alert alert-success hidden" id="successmail"><strong>Tu correo se ha enviado.</strong></div>
                        <div class="alert alert-danger hidden" id="alertmail"><strong>Un error ha ocurrido, trata de comunicarte conmigo por teléfono.</strong></div>
                        <form role="form" name="$form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputName">Nombre</label>
                                    <div class="input-group">
                                        <input class="form-control" id="InputName" ng-model="data.name" required type="text">
                                        <span class="input-group-addon"><i class="glyphicon form-control-feedback" ng-class="!!data.name.trim().length && 'glyphicon-ok'"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">Tu email</label>
                                    <div class="input-group">
                                        <input class="form-control" id="InputEmail" ng-model="data.email_address" required type="email">
                                        <span class="input-group-addon"><i class="glyphicon form-control-feedback" ng-class="!!data.email_address.trim().length && 'glyphicon-ok'"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputMessage">Mensaje</label>
                                    <div class="input-group">
                                        <textarea class="form-control" id="InputMessage" ng-model="data.content" required rows="5"></textarea>
                                        <span class="input-group-addon"><i class="glyphicon form-control-feedback" ng-class="!!data.content.trim().length && 'glyphicon-ok'"></i></span></div>
                                </div>
                                <div class="col-xs-12">
                                    <input class="btn btn-embossed btn-primary pull-right" id="submit" type="button" value="Manda un correo" ng-click="contact.submit(data)" ng-disabled="$form.$invalid">
                                </div>
                            </div>
                        </form>
                        <hr class="featurette-divider hidden-lg">
                        <div class="col-md-5 col-md-push-1 address">
                            <address>
                                <h3>Nuestras Oficinas</h3>
                                <p class="lead">
                                    <a href="https://goo.gl/maps/sJXZK9gsUk7awXGT9">Ciruelos #137 Interior 18 El Pinar <br> Jurica, Querétaro, Qro. C.P. 76100</a> <br> Tel: 442 183 1219
                                </p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 text-center">
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/garomedios/"><img src="/static/images/logos/facebu.svg" width="30%"></a></li>
                            <li><a href="https://twitter.com/Garoqro"><img src="/static/images/logos/tuit.svg" width="30%"></a></li>
                            <li><a href="https://www.instagram.com/garomedios/"><img src="/static/images/logos/insta.svg" width="30%"></a></li>
                        </ul>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy; GARO 2017</p>
                    </div>
                </div>
            </div>
            <a class="btn btn-dark btn-lg" id="to-top" href="#top" style="display: none; position: fixed;"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a></footer>
        {% for ad in ads %}<div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter }}">
            <section class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="row margentitulomodal">
                    <h1 class="h1px">{{ ad.title }}</h1>
                </div>
                <div class="row">
                    <div class="col-xs-12 hidden-sm hidden-xs">
                        <div class="col-xs-6">Vista natural</div>
                        <div class="col-xs-6">Vista cruzada</div>
                    </div>
                    {% for picture in ad.gallery.pictures.all %}<div class="col-xs-12">
                        <div class="col-lg-6"><img src="{{ picture.front }}" alt="Vista natural" width="100%"></div>
                        <div class="col-lg-6"><img src="{{ picture.cross }}" alt="Vista cruzada" width="100%"></div>
                    </div>{% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <p class="rojo text-left">{{ ad.gallery.description | safe }}</p>
                        <br>
                        <br><a class="button" href="{{ ad.gallery.interactive_map }}">Ir allá</a>
                    </div>
                </div>
            </section>
        </div>{% endfor %}
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/jquery-2.1.1.js"></script>
        <script src="/static/js/jquery.mixitup.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/toggler.js"></script>
        <script src="/static/js/unslider.js"></script>
        <script src="/static/js/video.js"></script>
        <script src="/static/js/modals.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
        <script>
            'use strict';
            function markers() {
                const features = [{% for ad in ads %}
                    {
                        type: 'Feature',
                        properties: { id: {{ forloop.counter }}, message: `{{ ad.title }}`, iconSize: [28, 28] },
                        geometry: { type: 'Point', coordinates: [{{ ad.longitude }}, {{ ad.latitude }}] }
                    },{% endfor %}
                ];
                return { type: 'FeatureCollection', features };
            }

            function create_map() {
                mapboxgl.accessToken = '{{ map_key }}';
                const output = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [-100.327398, 20.588325],
                    zoom: 11
                });

                output.addControl(new mapboxgl.NavigationControl());
                return output;
            }
            angular.module('GARO', [])
                   .controller('ContactController', ['$scope', '$http', function ($scope, $http) {
                       $scope.data = {};
                       this.submit = async (form) => {
                           try {
                               const _ = await $http.post('/contact/', JSON.stringify(form), {
                                   headers: { 'X-CSRFToken': '{{ token }}' }
                               });

                               Object.keys($scope.data).forEach(key => delete $scope.data[key]);
                               $('#successmail').fadeIn('slow');
                               $scope.$apply();
                           }
                           catch { $('#alertmail').fadeOut('slow'); }
                       };
                   }]);

            $(document).ready(() => {
                $(".my-slider").unslider();

                const map = create_map();
                const { features } = markers();
                const template = document.querySelector('#marker').content.cloneNode(true);

                for (const marker of features) {
                    const e = template.querySelector('.marker').cloneNode();
                    e.addEventListener('click', () => $(`#portfolioModal${marker.properties.id}`).modal());

                    new mapboxgl.Marker(e).setLngLat(marker.geometry.coordinates).addTo(map);
                }
            });
        </script>
    </body>
</html>
